.classpath
.project
.idea
.settings/
.svn/
target/
logback/
*.jar
*.log
*.iml
bootstrap-local.*
application-local.*

/src/main/java/it/tim/model/integration/generated/*
/src/main/java/META-INF/sun-jaxb.episode
/src/main/resources/application.yml
/src/main/resources/keystore.jks
/bin/
